.container
  h1 Case Graph
  .file_upload
    input(id='file', type='file', name='upload')
    input(id='file_upload', type='submit')
  .filter_list
    span Filter:&nbsp;
    #filterList
  svg#graph.graph
