mixin metricSwitcher
  .metric-switcher__container#radioContainer
    input(type='radio', name='metric', value='createddate', checked)
    | Date Created
    input(type='radio', name='metric', value='lastmessagedate')
    | Last Msg. Date
    input(type='radio', name='metric', value='status')
    | Status
    input(type='radio', name='metric', value='product')
    | Product
    input(type='radio', name='metric', value='severity')
    | Severity
    input(type='radio', name='metric', value='priority')
    | Priority

.container
  h1 Case Graph
  .file_upload
    input(id='file', type='file', name='upload')
    input(id='file_upload', type='submit')
  .filter_list
    span Filter:&nbsp;
    #filterList
  +metricSwitcher
  svg#graph.graph
